<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Log In</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <img src="{{ url_for('static', filename='logo.jpg') }}" />
        </div>
        <div class="form-container">
            <form name="myform" action="/signup/" method="post" onsubmit="return pass_match()">
                <input type="text" name="usrnm" placeholder="Username" value="{{ usrnm }}" required />
                <br />
                <p class="error">{{ usr_err }}</p>
                <input type="email" name="email" placeholder="Email Address" value="{{ email }}" required />
                <br />
                <p class="error">{{ email_err }}</p>
                <input type="password" name="passwd" placeholder="Password" value="{{ passwd }}" required />
                <br />
                <br />
                <input type="password" name="passwd1" placeholder="Confirm password" value="{{ passwd }}" required />
                <br />
                <p id="pass_err" class="error"></p>
                <button class="signup" type="submit">Sign Up</button>
            </form>
            <br />
            <hr />
            <br />
            <div>
                <button onclick="document.location.href='/login/'">Log In</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>